main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  & > a:hover {
    background-color: #bababa;
  }
}
